name="HoISubmod"
version="0.1.0"
supported_version="1.19.*"
path="C:/Users/laslo/RiderProjects/HoISubmod/mod/HoISubmod"
tags={
    "Alternative History"
    "Events"
    "Gameplay"
    "National Focuses"
}
dependencies={
    "Equestria at War"
}
